.box1
{
	border-radius: 35px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.Table
{
	background-color: white;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	width: 250px;
	height: 500px;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Input
{
	border-top: 2px;
	border-right: 2px;
	border-left: 2px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 15px;
	height: 30px;
}

.welcome
{
	background-color: #A44292;
	width: 200px;
	border: none;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	color: white;
}

.Label
{
	position: absolute;
	top: 95px;
	margin-left: 90px
}

.Button3
{
	text-align: center;
	background-color: #A44292;
	width: 250px;
	height: 50px;
	border-radius: 35px;
	color: white;
	font-family: arial;
}

.Picture
{
	position: absolute;
	width: 455px;
	height: 500px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}